/* Variables */
$t-primary-color: #FFF;
$t-secondary-color: #18BC9C;
$t-dark-color: #2C3E50;
$t-primary-bg-color: #18BC9C;
$t-secondary-bg-color: #2C3E50;
$t-secodary-bg-color-dark: #233140;
$ff-lato: 'Lato', sans-serif;
$ff-heading: 'Montserrat', sans-serif;
$bold-font-weight: 700;
$border-test: 1px solid yellow;

* {
   box-sizing: border-box;
   margin: 0;
}

body {
   font-family: $ff-lato;
   letter-spacing: 1px;
   line-height: 1.43;
}

p {
   font-family: $ff-lato;
   font-size: 20px;
   letter-spacing: 0;
}

h1 {
   font-size: 62px;
   font-family: $ff-heading;
   font-weight: $bold-font-weight;
   @media only screen and (max-width: 600px) {
      font-size: 40px;
   }
}

h2 {
   font-family: $ff-heading;
   font-weight: $bold-font-weight;
   text-transform: uppercase;
   font-size: 46px;
   @media only screen and (max-width: 600px) {
      font-size: 32px;
   }
}

h3 {
   font-family: $ff-heading;
   font-weight: $bold-font-weight;
   text-transform: uppercase;
   font-size: 26px;
   @media only screen and (max-width: 600px) {
      font-size: 16px;
   }
}
