doctype html
html
   head
      title Hello World!
      link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
      link(href='dist/css/styles.css' rel='stylesheet')
   body
      .container
         nav.navbar
            .navbar-brand
               a.link(href='#page-top') sean groff
            ul.navbar-links
               li 
               a.link(href='#portfolio') portfolio
               li
               a.link(href='#about') about
               li
               a.link(href='#contact') contact
         section.intro-section
      script(src='dist/js/index.js')
      
      
