doctype html
html
   head
      title Sean Groff's Portfolio
      meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
      link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css')
      link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet')
      link(href='dist/css/styles.css' rel='stylesheet')
   body
      .container
         include ./partials/navbar.jade
         include ./partials/intro.jade
         include ./partials/portfolio.jade
         include ./partials/about.jade
         include ./partials/skills.jade
         include ./partials/footer.jade
      script(src='dist/js/index.js')
