doctype html
html
   head
      title Hello World!
      link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
      link(href='dist/css/styles.css' rel='stylesheet')
   body
      .container
         include ./partials/navbar.jade
         include ./partials/intro.jade
         include ./partials/portfolio.jade
      script(src='dist/js/index.js')
