doctype html
html
   head
      title Hello World!
      link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
      link(href='dist/css/styles.css' rel='stylesheet')
   body
      nav.navbar
         .navbar-brand sean groff
         ul.navbar-links
            li portfolio
            li about
            li contact
      script(src='dist/js/index.js')
      
      
