section.section-container.t-primary-bg-color#about
   h2.section-header.t-primary-color About
   .star-container
      span.line
      i.t-primary-color.fa.fa-star.fa-2x
      span.line
   .flex-row-baseline.t-primary-color.about-me
      p.col-33 My name is Sean and I am a web developer living in
         | Lee's Summit, Missouri. I graduated from Central Methodist University
         | with a bachelors degree in Computer Science.
         | I currently work at Code Koalas in Kansas City, Missouri.
         | I love baseball (Go Royals!) and I played ball at CMU on a scholarship.
         | In my spare time I enjoy messing with anything technology related,
         | relaxing watching movies with my girlfriend Jessica, playing slow-pitch softball,
         | and having fun with our little one Brody.
      p.col-33 My journey into web development was a long one...
         | After graduating from CMU in 2008 I landed my first job doing desktop support.
         | I ended up liking the job and stayed there for 5 years.
         | During that time I obtained my CCNA in hopes of becoming a network engineer.
         | I never felt the same satisfaction I felt building apps so I went back to the drawing board.
         | To refresh my programming skills I took night classes at a local community college.
         | C++ was the language used to teach programming fundamentals and OOP.
      p.col-33 I spent a year switching between differen't languages.
         | I was always seeking the one most likely to get me hired
         | until I learned a programming language is a tool in the tool belt.
         | Learn to program and you can learn any language.
         | In 2015 I discovered Free Code Camp. Progressing through the curriculum along with
         | using other resources I built up a small portfolio to show potential employers.
         | I landed my first programming job and couldn't be happier.
         | I work hard to improve my skills daily and I love the everchanging landscape that is the JavaScript ecosystem.
