.footer-container.t-secondary-bg-color.t-primary-color
   .footer-row
      .col-33.center-text
         h3.uppercase-text location
         p
            | View High Drive
            br
            | Lee's Summit, MO 64081
      .col-33.center-text
         h3.uppercase-text around the web
         ul.list-inline
            li
               a.btn-social(href='http://www.facebook.com/seangroff')
                  i.fa.fa-fw.fa-facebook.t-primary-color
            li
               a.btn-social(href='https://twitter.com/SeanG816')
                  i.fa.fa-fw.fa-twitter.t-primary-color
            li
               a.btn-social(href='https://www.linkedin.com/in/sgroff')
                  i.fa.fa-fw.fa-linkedin.t-primary-color
            li
               a.btn-social(href='https://github.com/sgroff04')
                  i.fa.fa-fw.fa-github.t-primary-color
            li
               a.btn-social(href='http://codepen.io/sgroff04/')
                  i.fa.fa-fw.fa-codepen.t-primary-color
      .col-33.center-text
         h3.uppercase-text cool stuff
         p Cool stuff will go here. Until then this placeholder text is pretty sweet.
.copyright-container.t-secodary-bg-color-dark.t-primary-color
   p Copyright © Sean Groff 2016
