.footer-container.t-secondary-bg-color.t-primary-color
   .footer-row
      .col-33.center-text
         h3.uppercase-text location
         p
            | View High Drive
            br
            | Lee's Summit, MO 64081
      .col-33.center-text
         h3.uppercase-text around the web
         p Social Media Icons Placeholder
      .col-33.center-text
         h3.uppercase-text cool stuff
         p Cool stuff will go here. Until then this placeholder text is pretty sweet.
.copyright-container.t-secodary-bg-color-dark.t-primary-color
   p Copyright © Sean Groff 2016
