.footer-container.t-secondary-bg-color.t-primary-color
   .footer-content-wrapper.border-test
      .col-33.center-text
         .footer-top-row
            h3.uppercase-text location
         .footer-bottom-row Lees Summit, MO 64081
      .col-33.center-text
         .footer-top-row
            h3.uppercase-text around the web
         .footer-bottom-row Social Media Icons Placeholder
      .col-33.center-text
         .footer-top-row
            h3.uppercase-text cool stuff
         .footer-bottom-row Cool stuff will go here. Until then this placeholder text is pretty sweet.
.copyright-container.t-secodary-bg-color-dark.t-primary-color
   p Copyright © Sean Groff 2016
