section.intro-section
   .intro-container
      .img-wrapper
         img.img-responsive.intro-item(src="src/assets/images/profile.png")
      .intro-title.intro-item Sean Groff
      .star-container
         span.star
         i.fa.fa-star.fa-2x
         span.star
      .occupation.intro-item Front-End Web Developer
