section.intro-section
   .intro-container
      .img-wrapper
         img.img-responsive.intro-item(src="src/assets/images/profile.png")
      .intro-title.intro-item Sean Groff
      .star.intro-item star placeholder
      .occupation.intro-item Web Developer
