section.intro-section#intro
   .intro-container
      .profile-img-wrapper.intro-item
         img.img-responsive(src="src/assets/images/profile-pic.jpg")
      h1.intro-item.uppercase-text Sean Groff
      .star-container
         span.line
         i.t-primary-color.fa.fa-star.fa-2x
         span.line
      .occupation.intro-item Front-End Web Developer
