nav.navbar
  .navbar-brand
    a.link(href='#intro') sean groff
  ul.navbar-links
    li
      a.link(href='#portfolio') portfolio
    li
      a.link(href='#about') about
    li
      a.link(href='#skills') skills
  .hamburger
    .hamburger-line
