section.section-container#portfolio
   h2.section-header.t-dark-color Portfolio
   .star-container
      span.line-dark
      i.t-dark-color.fa.fa-star.fa-2x
      span.line-dark
   .portfolio-projects-container
      .test-box Placeholder 1
      .test-box Placeholder 2
      .test-box Placeholder 3
      .test-box Placeholder 4
      .test-box Placeholder 5
      .test-box Placeholder 6
