section.portfolio-section
   h2.portfolio-header.t-dark-color Portfolio
   .star-container
      span.line-dark
      i.t-dark-color.fa.fa-star.fa-2x
      span.line-dark
   .portfolio-projects-container
      .test-box 1
      .test-box 2
      .test-box 3
      .test-box 4
      .test-box 5
      .test-box 6
