/* Variables */
$t-primary-color: #FFF;
$t-secondary-color: #18BC9C;
$t-primary-bg-color: #18BC9C;
$t-secondary-bg-color: #2C3E50;
$font-family: 'Montserrat', sans-serif;
$bold-font-weight: 700;
$border-test: 1px solid yellow;
