@import './partials/globals';

.navbar {
   display: flex;
   align-items: center;
   position: fixed;
   height: 110px;
   min-width: 100%;
   background-color: $t-secondary-bg-color;
   color: #FFF;
   font-family: $font-family-heading;
   font-weight: $bold-font-weight;
   text-align: center;
   text-transform: uppercase;
}

.navbar-brand {
   flex: 1;
   font-size: 32px;
}

.navbar-links {
   flex: 1;
   font-size: 15px;
   list-style-type: none;
   li {
      display: inline;
      padding-right: 20px;
   }
}
